body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20px;
    
}
input {
    height: 25px;
}
button {
    border-radius: 25px;
    width: 100px;
    background-color: aqua;
    border: none;
    height: 30px;

}

#task-list {
    margin-top: 20px;
}

.task {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
}
